wena-framework/node_modules
wena-framework/tsconfig/tsbuildinfo
wena-tests/node_modules
dist/
/workspace.xml
wena-framework/packages/wena-test-runner/tsconfig.tsbuildinfo
.vscode/
*/tsconfig.tsbuildinfo
wena-framework/packages/wena-test-runner/node_modules
.env
wena-infra/frontend.http
**/.DS_Store
*/.eslintcache

# Terraform
*.tfstate
*.tfstate.*
*.backup
.terraform/
crash.log
terraform.tfplan
*.tfplan
*.auto.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
